// Abstract elements like functions, variables and mixins
@import 'styles/abstract/index';

// Generic styles
@import 'styles/generic/bootstrap';
@import 'styles/generic/space';

html{
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  > .send-to-bottom {
    margin-top: auto;
  }
}

img {
  // Make sure images don't span wider than
  // their containter by default
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input[type=number] {
  -moz-appearance: textfield;
}

:last-child {
  margin-bottom: 0;
}

.appearance-none {
  appearance:none;
}

.rotate-90 {
  transform: rotate(90deg);
}

// Set a minimum size to the navigation links
.navbar .nav-link {
  line-height: (40rem / 16);
  display: inline-block;

  &.nav-link {
    color: $light;
  }
}

// Make the spacing on the side of containers a bit more generous
.container{
  padding-left: (25rem / 16);
  padding-right: (25rem / 16);
}

// Components

.container--small {
  max-width: (600rem / 16);
}

.btn-icon-only {
  > svg,
  > img {
    display: block;
  }

  height: auto;
  padding: map-get($spacers, 2);
}

.align-icon {
  position: relative;
  bottom: (2em/16);
}

.text-with-icon>svg {
  position: relative;
  bottom: (2em/16);
}

.with-decorative-button {
  &:hover {
    .with-decorative-button__button {
      @each $color-name, $color-value in $theme-colors {
        &.btn-outline-#{$color-name} {
          background-color: $color-value;
          color: color-yiq($color-value);
        }
      }
    }
  }
}

.card-footer {
  
  [class*="btn-outline"] {
    background-color: white;
  }

  @each $color-name,$color-value in $theme-colors {
    .btn-outline-#{$color-name} {
      &:hover {
        color: $color-value;
        text-decoration: underline;
      }
    }
  }
}

// .action-list {
//   position: relative;
//   z-index: 0;
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0.25rem;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: -1;
//     box-shadow: 0px 10px 0px 5px rgba(0, 0, 0, 0.075);
//     border-radius: $list-group-border-radius;
//   }

//   // .list-group-item {
//   //   border-left-width: 0;
//   //   border-right-width: 0;
//   // }

//   // .list-group-item:first-child {
//   //   border-top-width:0;
//   // }

//   // .list-group-item:last-child {
//   //   border-bottom-width: 0;
//   // }
// }

.action-list-item{
  position: relative;
  padding-left: map-get($spacers, 4) + map-get($spacers, 2);
  padding-right: map-get($spacers, 4) + map-get($spacers, 2);

  &:hover {
    .action-list-item__icon {
      background-color: $list-group-hover-bg;
    }
  }

  // Extend the stretched link to encompass the elements
  // popping out on the sides
  .stretched-link::after {
    left: -1.25rem;
    right: -1.25rem;
  }
}

.action-list-item-link {
  &,&:hover, &:active {
    color: inherit;
    font: inherit;
  }
}

.action-list-item__icon {
  background-color: white;
  border: solid 1px $border-color;
  color: $text-muted;
}

.action-list-item__type {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 100%;
}

.action-list-item__action {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.site-footer {
  padding-top: map-get($spacers,1);
  padding-bottom: map-get($spacers,1);
  padding-left: map-get($spacers, 3);
  padding-right: map-get($spacers, 3);
  text-align: center;
  color: $text-muted;

  ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    // The negative margin compensates for the
    // margin of the items themselves
    margin: map-get($spacers, 1) * -1;

    > * {
      margin: map-get($spacers, 1)
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
