{% load static %}
{% load svg %}

<!doctype html>
<html lang="en_UK">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block 'page_title' %}
    {% if title %} {{title}} | {% endif %}
    {% endblock %}
    To/Fro</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static "app.js" %}" defer></script>
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">To/Fro</a>
    {% if request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarSupportedContent" aria-labelledBy="navbarNavHeading">
      <h2 id="navbarNavHeading" hidden>Main navigation</h2>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </header>
  {% include './_messages.html' %}
  <div class="container container--small py-5 space-4">
    <div class="heading-container d-flex justify-content-between">
      {% if back_url %}
      <a href="{{back_url}}" class="btn btn-icon-only rounded-circle align-self-start mt-2">
        {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/arrow-left.svg' %}
        <span class="sr-only">Back</span>
      </a>
      {% endif %}
      <h1 class="text-center mx-auto">
        {% block 'heading' %}
        {{heading|safe}}
        {% endblock %}
      </h1>
      {% if back_url %}
      <a class="invisible btn btn-icon-only rounded-circle" role="presentation">
        {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/arrow-left.svg' %}
      </a>
      {% endif %}
    </div>
    {% block 'content'%}{% endblock %}
  </div>
</body>

</html>