{% extends 'layouts/application.html' %}

{% load svg %}

{% block 'content' %}
<form class="card" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="card-body">
    <div class="form-group">
      <label for="time_taken">It took me:</label>
      <div class="input-group">
        <input required name="time_taken" id="time_taken" type="number" step="0.01"
          class="form-control text-right appearance-none" aria-describedby="time_taken-description">
        <div class="input-group-append">
          <div class="input-group-text">
            h
            <div hidden id="time_taken-description">
              in hours
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes" class="form-control"></textarea>
    </div>
  </div>
  <div class="card-footer text-center d-flex justify-content-between">
    <button name="outcome" value="ko" class="btn btn-outline-danger">
      {% embed_fontawesome 'thumbs-down' icon_set='regular' class_attribute="align-icon mr-1" %}
      Couldn't do it all
    </button>
    <button name="outcome" value="ok" class="btn btn-primary">
      {% embed_fontawesome 'thumbs-up' icon_set='regular' class_attribute="align-icon mr-1" %}
      All went fine
    </button>
  </div>
</form>
{% endblock %}
