{% extends 'layouts/application.html' %}

{% load humanize %}

{% block 'content' %}
<nav aria-label="Action types" class="d-flex justify-content-center space-x-3">
  <a href="{% url 'actions:available' %}" class="btn {% if current_list_type == 'available' %} btn-dark{%endif%}"
    {% if current_list_type == 'available' %} aria-current {%endif%}>
    Available
  </a>
  <a href="{% url 'home' %}" class="btn {% if current_list_type == 'mine' %} btn-dark{%endif%}"
    {% if current_list_type == 'mine' %} aria-current {%endif%}>
    My actions
  </a>
  <a href="{% url 'actions:completed' %}" class="btn {% if current_list_type == 'completed' %} btn-dark {%endif%}"
    {% if current_list_type == 'completed' %} aria-current {%endif%}>
    Completed
  </a>
</nav>
{% if actions %}
<ul class="list-group bg-white">
  {% for action in actions %}
  <a aria-label="{{action.description_with_date}}" href="{% url 'actions:detail' action.id %}"
    class="list-group-item list-group-item-action">
    <li class="list-unstyled d-flex justify-content-between">
      <div>
        <strong class="d-block">{{action.help_type}}</strong>
        <span class="d-block">{{action.ward}}</span>
      </div>
      <time datetime="{{action.requested_datetime|date:"c"}}" class="text-right">
        <span>{{action.requested_datetime|date:"D d M"}}</span>
        <span class="text-muted text-small d-block">{{action.requested_datetime|naturaltime}}</span>
      </time>
    </li>
  </a>
  {% endfor %}
</ul>
{% if page_obj.has_other_pages %}
{% include 'layouts/_page_links.html' with page=page_obj %}
{% endif %}
{% else %}
{% if current_list_type == 'available' %}
<p class="text-center">Sorry, there's nothing available at the moment.</p>
{% else %}
<p class="text-center">Looks like you haven't undertaken any action yet.</p>
<a class="btn btn-primary d-table mx-auto" href="{% url "actions:available" %}">See how you could help!</a>
{% endif %}
{% endif %}
</div>
{% endblock %}