{% load svg %}

<h3 class="mb-0 text-muted copy">You'll help</h3>
<p class="mt-0">{{requester.first_name}} {{requester.last_name}}</p>
<h3 class="mb-0 text-muted">They live:</h3>
<div class="mt-0">
  {{requester.address_line_1}}<br>
  {%if requester.address2 %}
  {{requester.address_line_2}}<br>
  {%endif%}
  {%if requester.address3 %}
  {{requester.address_line_3}}<br>
  {%endif%}
  {{requester.postcode}}
</div>
<h3 class="mb-0 text-muted">You can reach them at:</h3>
<div class="space-x-2">
  <a class="btn btn-outline-primary" href="tel:{{requester.phone_number_primary}}">
    {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/phone-alt.svg' height=16 width=16 class_attribute='rotate-90' %}
    <span>{{requester.phone_number_primary}}</span></a>
  {% if requester.phone_number_primary %}
  <span>or</span>
  <a class="btn btn-outline-primary" href="tel:{{requester.phone_number_primary}}">
    {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/phone-alt.svg' height=16 width=16 class_attribute='rotate-90' %}
    <span>{{requester.phone_number_secondary}}</span></a>
</div>
{% endif %}