{% load svg %}
{% load links %}

<h2 class="mb-0 text-muted copy">You'll help</h2>
<p class="mt-0">{{requester.first_name}} {{requester.last_name}}</p>
<h2 class="mb-0 text-muted">They live:</h2>
<div class="mt-0 d-flex align-items-center space-x-3">
  {{requester.address_line_1}}<br>
  {%if requester.address2 %}
  {{requester.address_line_2}}<br>
  {%endif%}
  {%if requester.address3 %}
  {{requester.address_line_3}}<br>
  {%endif%}
  {{requester.postcode}}
  <a class="btn btn-outline-primary btn-icon-only rounded" href="{{requester.address|map_url}}" target="_blank"
    rel="noreferrer noopener">
    {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/map-marked-alt.svg' height=16 width=16 %}
    <span class="sr-only">View on a map</span>
  </a>
</div>
<h2 class="mb-0 text-muted">You can reach them at:</h2>
<div class="space-x-2">
  <a class="btn btn-outline-primary space-x-1 text-with-icon" href="tel:{{requester.phone_number_primary}}">
    {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/phone-alt.svg' height=16 width=16 class_attribute='rotate-90' %}
    <span>{{requester.phone_number_primary}}</span></a>
  {% if requester.phone_number_primary %}
  <span>or</span>
  <a class="btn btn-outline-primary space-x-1 text-with-icon" href="tel:{{requester.phone_number_primary}}">
    {% embed_svg 'node_modules/@fortawesome/fontawesome-free/svgs/solid/phone-alt.svg' height=16 width=16 class_attribute='rotate-90' %}
    <span>{{requester.phone_number_secondary}}</span></a>
</div>
{% endif %}