<a href=".">Back</a>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Help with {{task.type}}</h1>
{% if task.id >= 4 %}
  Complete details of the task go here
  {% if task.id == 4%}
  <a href="{% url 'tasks:complete' task.id%}">
    All done!
  </a>
  {% endif %}
{% else %}
  Partial details for the task go here
  <form method="POST">
  {% csrf_token %}
  <button name="accept_help">
    I can help!
  </button>
  </form>
{% endif %}


