{% extends 'layouts/application.html' %}

{% load headings %}
{% load markdown %}

{% block 'content' %}
<div class="card">
  <div class="card-body space-3">
    {% if job.volunteer == volunteer and job.can_reveal_private_information %}
    <div class="border-bottom mb-3 pb-3 space-3">
      {% include './_requester_detail.html' with requester=job.requester %}
      {% if job.private_description|markdown %}
      <h2 class="mb-0 text-muted">Here's what they need exactly</h2>
      {{job.private_description|markdown|heading_level:3}}
      {% endif %}
    </div>
    {% endif %}
    <div>
      {{job.public_description|markdown|heading_level:2}}
    </div>
  </div>
  <div class="card-footer">
    {% if job.is_pending %}
    <form method="POST">
      {% csrf_token %}
      <button class="btn d-table mx-auto btn-primary" name="action" value="accept_help">
        I'll help!
      </button>
    </form>
    {%else %}
    {% if job.volunteer != volunteer %}
    <p class="text-center">Someone's on it, but thanks for thinking of it!</p>
    {% else %}
    {% if job.has_interest %}
    <p class="text-center">Thanks for volunteering! We'll be back in touch soon!</p>
    {% elif job.is_assigned %}
    <a class="btn d-table mx-auto btn-primary" href="{% url 'tasks:complete' job.id%}">
      All done!
    </a>
    {% else %}
    <p>Thanks for helping!</p>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}