{% extends 'layouts/application.html' %}

{% load humanize %}

{% block 'content' %}
<nav aria-label="Job types" class="d-flex justify-content-center space-x-3">
  <a href="{% url 'tasks:available' %}" class="btn {% if current_list_type == 'available' %} btn-dark{%endif%}"
    {% if current_list_type == 'available' %} aria-current {%endif%}>
    Available
  </a>
  <a href="{% url 'home' %}" class="btn {% if current_list_type == 'mine' %} btn-dark{%endif%}"
    {% if current_list_type == 'mine' %} aria-current {%endif%}>
    My tasks
  </a>
  <a href="{% url 'tasks:completed' %}" class="btn {% if current_list_type == 'completed' %} btn-dark {%endif%}"
    {% if current_list_type == 'completed' %} aria-current {%endif%}>
    Completed
  </a>
</nav>
{% if jobs %}
<ul class="list-group bg-white">
  {% for job in jobs %}
  <a aria-label="{{job.description_with_date}}" href="{% url 'tasks:detail' job.id %}"
    class="list-group-item list-group-item-action">
    <li class="list-unstyled d-flex justify-content-between">
      <div>
        <strong class="d-block">{{job.help_type}}</strong>
        <span class="d-block">{{job.ward}}</span>
      </div>
      <time datetime="{{job.requested_datetime|date:"c"}}" class="text-right">
        <span>{{job.requested_datetime|date:"D d M"}}</span>
        <span class="text-muted text-small d-block">{{job.requested_datetime|naturaltime}}</span>
      </time>
    </li>
  </a>
  {% endfor %}
</ul>
{% if page_obj.has_other_pages %}
{% include 'layouts/_page_links.html' with page=page_obj %}
{% endif %}
{% else %}
<p class="text-center">Sorry, there's nothing available at the moment.</p>
{% endif %}
</div>
{% endblock %}