// Abstract things like function, variables and mixins
// 1. Functions, first because variables might use them for their definition

@import '../../../../node_modules/bootstrap/scss/functions';

// 2. Variables

// Put Boostrap configuration here, before it's imported
$list-group-border-radius: (6rem / 16);
$list-group-action-color: inherit;
$small-font-size: (14rem / 16);
@import '../../../../node_modules/bootstrap/scss/variables';

// And if some variables need to be overriden, add some more variables here


// 3. Mixins
@import '../../../../node_modules/bootstrap/scss/mixins';
