// Abstract elements like functions, variables and mixins
@import 'styles/abstract/index';

// Generic styles
@import 'styles/generic/bootstrap';
@import 'styles/generic/space';

input[type=number] {
  -moz-appearance: textfield;
}

:last-child {
  margin-bottom: 0;
}

.appearance-none {
  appearance:none;
}

// Components

.container--small {
  max-width: (600rem / 16);
}

.btn-icon-only {
  > svg,
  > img {
    display: block;
  }

  height: auto;
  padding: map-get($spacers, 2);
}

.card-footer {
  
  [class*="btn-outline"] {
    background-color: white;
  }

  @each $color-name,$color-value in $theme-colors {
    .btn-outline-#{$color-name} {
      &:hover {
        color: $color-value;
        text-decoration: underline;
      }
    }
  }
}